* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #333;
  font-family: "Roboto", sans-serif;
  line-height: 1.5; }

ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative; }

.divider {
  border: 1px solid rgba(255, 255, 255, 0.7);
  width: 80%;
  margin: 0.5rem auto; }

header h1 {
  text-align: center;
  margin: 1rem 0;
  color: #ffffff; }

.image {
  display: block;
  width: 100%; }

.icon {
  width: 75px;
  margin: auto;
  display: block; }

p {
  padding: 1.3rem;
  font-size: 0.7rem; }

section .container {
  width: 100%;
  max-width: 1100px;
  margin: 5rem auto;
  padding: 0 2rem; }
  section .container .cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, minmax(auto, 250px));
    grid-template-areas: ". android . ios ." ". github gitkraken gitlab ." ". bootstrap stackoverflow foundation ." ". gruntjs nodejs jquery ." ". sass less amber ." "redux react . angular vue";
    grid-gap: 30px; }
    section .container .cards .android {
      grid-area: android;
      background: #1b7662; }
    section .container .cards .ios {
      grid-area: ios;
      background: #171119; }
    section .container .cards .github {
      grid-area: github;
      background: #ffffff; }
    section .container .cards .gitkraken {
      grid-area: gitkraken;
      background: #0e1214; }
    section .container .cards .gitlab {
      grid-area: gitlab;
      background: #252e33; }
    section .container .cards .bootstrap {
      grid-area: bootstrap;
      background: #633f8f; }
    section .container .cards .stackoverflow {
      grid-area: stackoverflow;
      background: #414161; }
    section .container .cards .foundation {
      grid-area: foundation;
      background: #148d9f; }
    section .container .cards .gruntjs {
      grid-area: gruntjs;
      background: #1a42ab; }
    section .container .cards .nodejs {
      grid-area: nodejs;
      background: #1a2725; }
    section .container .cards .jquery {
      grid-area: jquery;
      background: #3a4040; }
    section .container .cards .sass {
      grid-area: sass;
      background: #2e011b; }
    section .container .cards .less {
      grid-area: less;
      background: #cfc4ce; }
    section .container .cards .amber {
      grid-area: amber;
      background: #e04e39; }
    section .container .cards .react {
      grid-area: react;
      background: #211d00; }
    section .container .cards .redux {
      grid-area: redux;
      background: #211d00; }
    section .container .cards .angular {
      grid-area: angular;
      background: #0e72c3; }
    section .container .cards .vue {
      grid-area: vue;
      background: #f4f4f4; }
    section .container .cards div.back {
      transform: rotateY(90deg); }
    section .container .cards div.front {
      position: absolute; }
    section .container .cards li:hover div.front {
      animation: twirl 0.2s ease-in forwards; }
    section .container .cards li:hover div.back {
      animation: twirl 0.2 0.2s ease-out forwards reverse; }

@keyframes twirl {
  0% {
    transform: rotateY(0deg); }
  100% {
    transform: rotateY(90deg); } }
