// Desktop & Smaller
@media (max-width: 1024px) {
  header {
    h1 {
      font-size: 2rem;
      padding: 0.5rem;
    }
  }
}

// Tablet & Smaller
@media (max-width: 768px) {
  header {
    h1 {
      font-size: 1.7rem;
      letter-spacing: 2px;
      padding: 0.5rem;
    }
  }
  section .container {
    .cards {
      grid-template-columns: minmax(300px, 1fr);
    }
  }
  footer {
    p {
      font-size: 0.9rem;
    }
  }
}
