// Desktop & Smaller
@media (max-width: 1024px) {
  header {
    h1 {
      font-size: 2rem;
      padding: 0.5rem;
    }
  }
  section .container {
    .cards {
      grid-template-columns: repeat(2, minmax(300px, 1fr));
      grid-template-rows: repeat(2, 1fr);
      grid-row-gap: 5rem;
    }
  }
}

// Tablet & Smaller
@media (max-width: 700px) {
  header {
    h1 {
      font-size: 1.7rem;
      letter-spacing: 2px;
      padding: 0.5rem;
    }
  }
  section .container {
    .cards {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-gap: 50px;
    }
  }
}
