$bgColor: rgb(37, 35, 35);
$mainFont: "Roboto", sans-serif;
$primaryColor: #ffffff;
$secondaryColor: rgba(255, 255, 255, 0.7);
$darkColor: rgba(0, 0, 0, 0.9);
$borderWidth: 3.7px;
$borderRadius: 17px;

// Mascot Colors
$android: #1b7662;
$bootstrap: #e4e4e4;
$nodejs: #f0f0f0;
$gruntjs: #d3d3d3;
$stackoverflow: #f7f7f7;
$gitkraken: #0e1214;
$jquery: #dadada;
$react: #242424;
$redux: #242424;
$less: #cfc4ce;
$sass: #220416;
$gitlab: #464242;
$vue: #f4f4f4;
$angular: #0e72c3;
$github: #ffffff;
$foundation: #148d9f;
$ember: #ebebeb;
$ios: #171119;
